@layer components {
  .hero {
    @apply h-[calc(100vh-80px)] w-full relative
        overflow-hidden
        block
        z-10
    
        bg-hero 
        bg-center bg-cover bg-no-repeat
    
        before:content-['']
        before:absolute
        before:inset-0
        before:block
        before:bg-gradient-to-r
        before:from-[#000]
        before:to-[#000]
        before:opacity-60
        before:z-[-5];
  }
}
